# Discord
DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=

# Channels
QUEUE_PANEL_CHANNEL_ID=
QUEUE_CHANNEL_ID=
LOBBY_CHANNEL_ID=

# Roles
SUBSCRIBER_ROLE_ID=

# Database
DATABASE_PATH=./data/database.sqlite

# Environment
NODE_ENV=development

# Production Scheduler
QUEUE_OPEN_TIME=18:58
QUEUE_CLOSE_TIME=06:00
QUEUE_TIMEZONE=America/Sao_Paulo

# Development Scheduler
QUEUE_TEST_INTERVAL_MINUTES=5
